@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Lexend+Deca:wght@100;200;300;900&family=Noto+Sans:wght@300&family=Noto+Serif:ital@1&family=Vazirmatn:wght@100;200;300;400&display=swap");

.homepage-service-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-bottom: 96px;
  background-color: #EBE6E6;
  padding: 0px;
}

.homepage-service-img {
  margin-right: 64px;
  width: 640px;
}

.homepage-copy-container {
  display: flex;
  flex-flow: column wrap;
}

.homepage-header {
  font-family: 'DM Serif Display', serif;
  font-size: 48px;
  color: #5D5B6A;
  line-height: 58px;
  padding-top: 16vh;
  font-weight: 400;
  text-align: left;
  width: 420px;
  margin-bottom: 16px;
}

.homepage-subhead {
  font-family: 'Lexend Deca', sans-serif;
  color: #758184;
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
  text-align: left;
  width: 420px;
  margin-bottom: 24px;
}

.homepage-service-button {
  width: fit-content;
  padding: 10px 24px 10px 24px;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
  background-color: #ffffff00;
  color: #758184;
  border: solid 2px;
  display: flex;
  align-self: left;
  text-decoration: none;
  margin-bottom: 10vh;
}

.homepage-service-button:hover {
  background-color: #5D5B6A;
  color: white;
}