@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100;200;300;400&display=swap");

/* 
font-family: "Vazirmatn", sans-serif; */

.homepage-service-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 96px;
  background-color: #f2f2f2cb;
  padding: 0px ;
}

.homepage-service-img {
  margin-right: 64px;
  width: 640px;
}

.homepage-copy-container {
  display: flex;
  flex-flow: column wrap;
}

.homepage-header {
  font-family: 'Noto Serif', serif;
  font-size: 48px;
  color:rgb(57, 57, 57);
  line-height: 58px;
  padding-top: 16vh;
  font-weight: 400;
  text-align: left;
  width: 420px;
  margin-bottom: 16px;
}

.homepage-subhead {
  font-family: "Vazirmatn", sans-serif;
  color:rgb(115, 115, 115);
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
  text-align: left;
  width: 420px;
  margin-bottom: 24px;
}

.homepage-service-button {
  width: fit-content;
  padding: 10px 24px 10px 24px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  background-color: #ffffff00;
  color: rgb(57, 57, 57);
  border: solid 2px;
  display: flex;
  align-self: left;
  text-decoration: none;
  margin-bottom: 10vh;
}

.homepage-service-button:hover {
  background-color: #010101da;
  color: white;
}